{% extends "nav.html" %}

{% load static  %}

{% block contenidoQueCambia %}
{% load crispy_forms_tags %} 


		<section class="page">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
	          <ol class="breadcrumb">
	          	<li><a href="index.html">Home</a></li>
	            <li class="active">Acerca de nosotros</li>
	          </ol>
						<h1 class="page-title">Super Cultural </h1>
						<p class="page-subtitle">te contamos quienes somos y que hacemos</p>
						<div class="line thin"></div>
						<div class="page-description">
							<h4>Historia</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
							<h4>Pellentesque</h4>
							<p>
								Nulla facilisi. Donec mollis laoreet diam. Nullam suscipit pretium turpis at pellentesque. Donec suscipit libero nec pellentesque fringilla. Etiam dictum ut nulla eu vehicula. Nullam sed ultricies nisi. Etiam dapibus diam vitae gravida sagittis.
							</p>
							<h4>Fermentum</h4>
							<p>
								Nulla ante nulla, aliquet vel gravida non, finibus vel eros. Vestibulum lectus augue, placerat ac tincidunt rhoncus, vehicula ac tellus. Nullam a cursus ipsum. Pellentesque ornare mi sit amet nibh euismod gravida. Quisque in tempus odio. Fusce porttitor dolor ut tortor tristique, ut rhoncus nunc cursus. Morbi placerat lorem vel dictum maximus. Vivamus at sollicitudin turpis. Sed eu porta sem, et elementum tellus.
							</p>
							<p>
								Sed nec feugiat sem, nec ultrices orci. Duis ultrices ultricies fringilla. Aliquam convallis diam eu lectus porta, sit amet viverra nibh tincidunt. Etiam et luctus nisi. Integer posuere, augue at elementum aliquet, mauris ante dictum dui, eu pellentesque arcu ante eget libero. Sed consectetur fermentum felis sit amet eleifend.
							</p>
							<div class="question">
								Have a question? <a href="#" class="btn btn-primary">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Super Cultural</h1>
							<div class="block-body">
								<figure class="foot-logo">
									<img src="{% static 'images/logo2.jpeg'%}" class="img-responsive" alt="Logo">
								</figure>
								<p class="brand-description">
									Espectaculos y Eventos &amp; Toda la info sobre Rosario y zona.
								</p>
								<a href="{%url 'contact'%}" class="btn btn-magz white">Sobre nosotros <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Tags Populares<div class="right"><a href="{%url 'todo'%}">Ver todo <i class="ion-ios-arrow-thin-right"></i></a></div></h1>
							<div class="block-body">
								<ul class="tags">
									{%for cat in categoria%}

										<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
										{%endfor%}
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Ultimos eventos</h1>
							<div class="block-body">
								

													{% for post in page_obj %}			
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="{% url 'detail' post.slug %}">
												<img src="{{ post.image.url }}" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h1>
										</div>
									</div>
								</article>
								{%endfor%}
								<a href="{%url 'todo'%}" class="btn btn-magz white btn-block">Ver todo <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
						<div class="block">
							<h1 class="block-title">Seguinos</h1>
							<div class="block-body">
								<p>Seguinos en nustras redes y m</p>
								<ul class="social trp">
									<li>
										<a href="https://www.facebook.com/supercultural2022/" class="facebook" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-facebook"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="youtube">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-youtube-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="https://www.instagram.com/super.cultural/" class="instagram" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-instagram-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="linkedin">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-linkedin"></i>
										</a>
									</li>
									
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="block">
							<div class="block-body no-margin">
								<ul class="footer-nav-horizontal">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Partner</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="page.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							COPYRIGHT &copy;Todo los Derechos Reservados
							<div>
								Diseñado  <i class="ion-heart"></i> por <a href="https://www.linkedin.com/in/fabian-di-paolo" target="_blank">DiPA Dev</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<!-- JS -->
		<script src="js/jquery.js"></script>
		<script src="js/jquery.migrate.js"></script>
		<script src="scripts/bootstrap/bootstrap.min.js"></script>
		<script>var $target_end=$(".best-of-the-week");</script>
		<script src="scripts/jquery-number/jquery.number.min.js"></script>
		<script src="scripts/owlcarousel/dist/owl.carousel.min.js"></script>
		<script src="scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<script src="scripts/easescroll/jquery.easeScroll.js"></script>
		<script src="scripts/sweetalert/dist/sweetalert.min.js"></script>
		<script src="scripts/toast/jquery.toast.min.js"></script>
		<script src="js/demo.js"></script>
		<script src="js/e-magz.js"></script>
	</body>
{%endblock%}