{% extends "nav.html" %}

{% load static  %}

{% block contenidoQueCambia %}
{% load crispy_forms_tags %} 

		<section class="category">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-8 text-left">
		        <div class="row">
		          <div class="col-md-12">        
		            <ol class="breadcrumb">
		              <li><a href="#">Home</a></li>
		              <li class="active">{{ category_post | title }}</li>
		            </ol>
		            <h1 class="page-title">Categoria: {{ category_post | title }}</h1>
		            <p class="page-subtitle">Mostrando todos los post para la categoria <i>{{ category_post | title }}</i></p>
		          </div>
		        </div>
		        <div class="line"></div>
		        <div class="row">
					{% for post in page_obj %}
					<article class="col-md-12 article-list">
		            <div class="inner">
		              <figure>
			              <a href="{% url 'detail' post.slug %}">
			                <img src="{{ post.image.url }}">
		                </a>
		              </figure>
		              <div class="details">
		                <div class="detail">
							{% for category_post in post.categories.all %}
                           							
							<div class="category">
								<a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a>
							   </div>
							{% endfor %}
		                  <div class="time">{{ post.created_on | timesince }}</div>
		                </div>
		                <h1><a href="{% url 'detail' post.slug %}">{{post.title}}</a></h1>
		                <p>
		                  {{post.short_desciption}}
		                </p>
		                <footer>
		                  <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>{{post.visit_num}}</div></a>
		                  <a class="btn btn-primary more" href="{% url 'detail' post.slug %}">
		                    <div>Mas info</div>
		                    <div><i class="ion-ios-arrow-thin-right"></i></div>
		                  </a>
		                </footer>
		              </div>
		            </div>
		          </article>
		          {%endfor%}
		          <div class="col-md-12 text-center">
		            <ul class="pagination">	
						{% if page_obj2.has_previous %}
                           <li><a href="?page=1">&laquo; </a></li>
						   <li class="prev"><a href="?page={{ page_obj2.previous_page_number }}"><i class="ion-ios-arrow-left"></i></a></li>
                           
                       {% endif %}

		              
		              
					  <li class="active"><a href="#"> {{ page_obj2.number }}</a></li>
		              {% if page_obj2.has_next %}
					     <li class="next"><a href="?page={{ page_obj2.next_page_number }}"><i class="ion-ios-arrow-right"></i></a></li>
                           
                           <li><a href="?page={{ page_obj2.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
		              
		            </ul>
		            <div class="pagination-help-text">
		            	Mostrando {{actual}} resultados de {{total}} &mdash; Pagina {{ page_obj2.number }}
		            </div>
</div>
		        </div>
		      </div>
		      <div class="col-md-4 sidebar">
		      
		        <aside>
		          <h1 class="aside-title">Ultimos posts</h1>
		          <div class="aside-body">	                       	
		            
		            {% for post in page_obj2 %}
					<article class="article-mini">
						<div class="inner">
							<figure>
								<a href="{% url 'detail' post.slug %}">
									<img src="{{ post.image.url }}" alt="Sample Article">
								</a>
							</figure>
							<div class="padding">
								<h1><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h1>
								<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>{{ post.visit_num }}</div></a>
							</div>
						</div>
					</article>
					{%endfor%}
		            
		          </div>
		        </aside>
		        <aside>
		          <div class="aside-body">
		            <form class="newsletter">
		              <div class="icon">
		                <i class="ion-ios-email-outline"></i>
		                <h1>Newsletter</h1>
		              </div>
		              <div class="input-group">
		                <input type="email" class="form-control email" placeholder="Your mail">
		                <div class="input-group-btn">
		                  <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
		                </div>
		              </div>
		              <p>By subscribing you willsss receive new articles in your email.</p>
		            </form>
		          </div>
		        </aside>
		      </div>
		    </div>
		  </div>
		</section>

		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Super Cultural</h1>
							<div class="block-body">
								<figure class="foot-logo">
									<img src="{% static 'images/logo2.jpeg'%}" class="img-responsive" alt="Logo">
								</figure>
								<p class="brand-description">
									Espectaculos y Eventos &amp; Toda la info sobre Rosario y zona.
								</p>
								<a href="{%url 'contact'%}" class="btn btn-magz white">Sobre nosotros <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Tags Populares<div class="right"><a href="{%url 'todo'%}">Ver todo <i class="ion-ios-arrow-thin-right"></i></a></div></h1>
							<div class="block-body">
								<ul class="tags">
									{%for cat in categoria%}

										<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
										{%endfor%}
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Ultimos eventos</h1>
							<div class="block-body">
								

													{% for post in page_obj %}			
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="{% url 'detail' post.slug %}">
												<img src="{{ post.image.url }}" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h1>
										</div>
									</div>
								</article>
								{%endfor%}
								<a href="{%url 'todo'%}" class="btn btn-magz white btn-block">Ver todo <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
						<div class="block">
							<h1 class="block-title">Seguinos</h1>
							<div class="block-body">
								<p>Seguinos en nustras redes y m</p>
								<ul class="social trp">
									<li>
										<a href="https://www.facebook.com/supercultural2022/" class="facebook" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-facebook"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="youtube">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-youtube-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="https://www.instagram.com/super.cultural/" class="instagram" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-instagram-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="linkedin">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-linkedin"></i>
										</a>
									</li>
									
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="block">
							<div class="block-body no-margin">
								<ul class="footer-nav-horizontal">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Partner</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="page.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							COPYRIGHT &copy;Todo los Derechos Reservados
							<div>
								Diseñado  <i class="ion-heart"></i> por <a href="https://www.linkedin.com/in/fabian-di-paolo" target="_blank">DiPA Dev</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		
	</body>
{%endblock%}