{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Super Cultural , la pagina del espectaculo de rosario">
		<meta name="author" content="Kodinger">
		<link href="{% static 'images/supercultural.png' %}" rel="icon">
		<meta name="keyword" content="supercultural, super, cultural, espectaculos, rosario">
		<!-- Shareable -->
		<meta property="og:title" content="Super cultural" />
		<meta property="og:type" content="article" />
		<title>Super Cultural </title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'scripts/bootstrap/bootstrap.min.css'%}">
		<!-- IonIcons -->
		<link rel="stylesheet" href="{% static 'scripts/ionicons/css/ionicons.min.css'%}">
		<!-- Toast -->
		<link rel="stylesheet" href="{% static 'scripts/toast/jquery.toast.min.css'%}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- OwlCarousel -->
		<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.theme.default.min.css'%}">
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="{% static 'scripts/magnific-popup/dist/magnific-popup.css'%}">
		<link rel="stylesheet" href="{% static 'scripts/sweetalert/dist/sweetalert.css'%}">
		<!-- Custom style -->
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<link rel="stylesheet" href="{% static 'css/skins/all.css'%}">
		<link rel="stylesheet" href="{% static 'css/demo.css'%}">
	</head>
	
	</a>
	<body class="skin-orange">
		<header class="primary">
			<div class="firstbar">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="brand">
								<a href="{%url 'index'%}">
									<img src="{% static 'images/logo2.jpeg'%}" alt="Magz Logo">
								</a>
							</div>						
						</div>
						<div class="col-md-6 col-sm-12">
							<form class="search" autocomplete="off" action="{% url 'buscar'%}" method="get"> {%csrf_token%} 
								
								<div class="form-group">
									<div class="form-group"></div>
									<div class="input-group">
										
										<input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="busque un espectaculo o teatros" arial-label="search">									
										<div class="input-group-btn">
											<button class="btn btn-primary" type="search"><i class="ion-search"></i></button>
										</div>
									</div>
								</div>
								<div class="help-block">
									<div>Popular:</div>
									<ul>
										{%for cat in categoria%}

										<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
										{%endfor%}
										<li><a href="{% url 'contact' %}">Contacto</a></li>
									</ul>
								</div>
							</form>								
						</div>
						<div class="col-md-3 col-sm-12 text-right">
							<ul class="nav-icons">
								<li><a href="register.html"><i class="ion-person-add"></i><div>Registrar</div></a></li>
								<li><a href="login.html"><i class="ion-person"></i><div>Login</div></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Start nav -->
			<nav class="menu">
				<div class="container">
					<div class="brand">
						<a href="#">
							<img src="{% static 'images/logo2.jpeg'%}" alt="Magz Logo">
						</a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
					</div>
					<div id="menu-list">
						<ul class="nav-list">
							<li class="for-tablet nav-title"><a>Menu</a></li>
							<li class="for-tablet"><a href="login.html">Login</a></li>
							<li class="for-tablet"><a href="register.html">Registrarse</a></li>
							
							<li class="dropdown magz-dropdown">
								<a href="category.html">Secciones <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									
									<li class="dropdown magz-dropdown">
										<a href="#">Perfil usuario <i class="ion-ios-arrow-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Registro</a></li>
											<li><a href="forgot.html">Perdio su contraseña</a></li>
											<li><a href="reset.html">Reset Password</a></li>
										</ul>
									</li>
									
									<li><a href="{%url 'buscar'%}">Busqueda</a></li>
									<li><a href="{%url 'contact'%}">Contacto</a></li>
									
								</ul>
							</li>
							<li class="dropdown magz-dropdown"><a href="#">Categorias<i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'todo' %}">Todo</a></li>
									{%for cat in categoria%}

									<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
									{%endfor%}
									
									
								</ul>
							</li>
							<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#">Super Menu <i class="ion-ios-arrow-right"></i> <div class="badge">Hot</div></a>
								<div class="dropdown-menu megamenu">
									<div class="megamenu-inner">
										<div class="row">
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">Mas populares</h2>
													</div>
												</div>
												{% for post in ult_post2 %}
												<ul class="vertical-menu">
													<li><a href="#"><i class="ion-ios-circle-outline"></i> {{post.title}}</a></li>
												</ul>
												{%endfor%}
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">Ultimos posts</h2>
													</div>
												</div>
												<div class="row">
													{% for post in page_obj %}
													<article class="article col-md-4 mini">
														<div class="inner">
															<figure>
																<a href="{% url 'blog_detail' post.pk %}">
																	<img src="{{ post.image.url }}"alt="Sample Article">
																</a>
															</figure>
															<div class="padding">
																<div class="detail">
																	<div class="time">{{ post.created_on | timesince }}</div>
																	{% for category_post in post.categories.all %}
                            									<div class="category"><a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a></div>
																{% endfor %}
																	
																</div>
																<h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
															</div>
														</div>
													</article>
													{% endfor %}
												</div>
											</div>
										</div>								
									</div>
								</div>
							</li>
							<li class="dropdown magz-dropdown"><a href="#">Extras<i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon ion-person"></i> Coberturas</a></li>
									<li><a href="#"><i class="icon ion-person"></i> Galeria</a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Cines </a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Teatros </a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Artistas locales </a></li>


									
								</ul>
							</li>
							
							<li><a href="{%url 'about'%}">Super Cultural Radio <i class="ion-ios"></i></a>
								
							</li>
							
							<li class=><a href="{%url 'contact'%}">Contactanos!<i class="ion-ios"></i></a>
							</li>
							<li class=><a href="#radio">94.1 En Vivo<i class="ion-ios"></i></a>
							</li>
						</ul>
								
						
					</div>
				</div>
			</nav>
			<!-- End nav -->
		</header>
<!-- SnapWidget -->
		<section class="home">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="headline">
							<div class="nav" id="headline-nav">
								<a class="left carousel-control" role="button" data-slide="prev">
									<span class="ion-ios-arrow-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" role="button" data-slide="next">
									<span class="ion-ios-arrow-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
							<div class="owl-carousel owl-theme" id="headline">							
								<div class="item">
									<a href="#radio"><div class="badge">Novedades!</div> Escuchanos en FM vintage 94.1, todos los miercoles de 20 a 22</a>
									
									</audio>
								</div>
								<div class="item">
									<a href="#">La mejor cobertura de los espectaculos de rosario</a>
								</div>
							</div>
						</div>
						<div class="owl-carousel owl-theme slide" id="featured">
							{% for post in page_obj %}
							<div class="item">
								<article class="featured">
									<div class="overlay"></div>
									<figure>
										<img src="{{ post.image.url }}" alt="Sample Article">
									</figure>
									<div class="details">
										{% for category_post in post.categories.all %}
                            						
													<div class="category"><a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a></div>
									
							{% endfor %}
										
										<h1><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h1>
										<div class="time">{{post.created_on|timesince }}</div>
									</div>
								</article>
							</div>
							{%endfor%}
							
						</div>
						<div class="line">
							<div>Ultimos Eventos</div>
						</div>
						
						{% for post in ult_post %}
						
							<article class="col-md-12 article-list">
								<div class="inner">
									<figure>
										<a href="{% url 'blog_detail' post.pk %}">
											<img src="{{ post.image.url }}" alt="imagen espectaculo">
										</a>
									</figure>
									<div class="details">
										<div class="detail">
												
											{% for category_post in post.categories.all %}
												<div class="category"><a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a></div>
												{% endfor %}
											<div class="time">{{post.created_on|timesince }}</div>
										</div>
										<h1><a href="{% url 'blog_detail' post.pk %}">{{post.title}}</a></h1>
										{%if post.fecha%}
										<p>Fecha: {{post.fecha}}</p>
										{%endif%}
										<p>
										{{post.short_desciption}}
										</p>
										<footer>
											<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>{{ post.visit_num }}</div></a>
											<a class="btn btn-primary more" href="{% url 'blog_detail' post.pk %}">
												<div>Mas info</div>
												<div><i class="ion-ios-arrow-thin-right"></i></div>
											</a>
										</footer>
										
									</div>
									
								</div>
								
							</article>
						
							{%endfor%}
							
								<article class="article-mini">
									
								</article>
								
						
						<div class="banner">
							<a href="#">
								<img src="{% static 'images/ads.png'%}" alt="Sample Article">
							</a>
						</div>
						<div class="line transparent little"></div>
						
					<div class="line">
							
						</div>
						
					</div>
					<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
						<div class="sidebar-title for-tablet">Sidebar</div>
						<aside>
							<div class="aside-body">
								<div class="featured-author">
									<div class="featured-author-inner">
										<div class="elfsight-app-08b5fb99-6af3-4e9f-a188-d342994ae2f3"></div>
										<br>
										<br>
										<br>
										<br>
										<div class="featured-author-body">
											<br>
											<div class="featured-author-quote">
												Te compartimos las mejores fotos que fuimos sacando en todos los shows
											</div>
											<div class="block">
												<h2 class="block-title">Fotos</h2>
												<div class="block-body">
													<ul class="item-list-round" data-magnific="gallery">
														{%for fotos in galeria%}
														<li><a href="{{fotos.imagen.url}}" style="background-image: url('{{fotos.imagen.url}}');"></a></li>
														{%endfor%}
														
													</ul>
												</div>
											</div>
											
											<div class="featured-author-footer">
												<a href="#">Todas las fotos</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</aside>
						<aside>
							<h1 class="aside-title">Lo mas visto <a href="{% url 'todo' %}" class="all">Ver todo <i class="ion-ios-arrow-right"></i></a></h1>
							<div class="aside-body">
								{% for post in ult_post2 %}
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="{% url 'blog_detail' post.pk %}">
												<img src="{{ post.image.url }}" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h1>
											<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>{{ post.visit_num }}</div></a>
										</div>
									</div>
								</article>
								{%endfor%}
								
							</div>
						</aside>
						<aside>
						</aside>

							<div class="aside-body">
								<aside>
									<div id="cont_db0921d36ca9fd5c868ce8cc0c484e0b"><script type="text/javascript" async src="https://www.meteored.com.ar/wid_loader/db0921d36ca9fd5c868ce8cc0c484e0b"></script></div>
							</aside>
								<form class="newsletter" id="radio">
									<div class="icon">
										<i class="ion-ios-email-outline"></i>
										<h1>Newsletter</h1>
									</div>
									<div class="input-group">
										<input type="email" class="form-control email" placeholder="Tu correo">
										<div class="input-group-btn">our mai
											<button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
										</div>
									</div>
									<p>suscribiendote recibiras un novedades actualizadas.</p>
								</form>
							</div>
						</aside>
						<div class="aside-body" >
						<aside >
							
								<a href="#radio"><h4 style="text-align: center;">Radio 94.1 en vivo</h4></a>
								<img src=" {%static 'images/radios-m90vintage.png'%}" alt="" style='margin-left: auto; margin-right:auto ; display: block;'>
								<audio src="https://player.m90radio.com:8021/mileniumrosario.mp3" controls="controls" type="audio/mpeg" preload="preload" style='margin-left: auto; margin-right:auto ; display: block;'></audio>
						</aside>
					</div>

						<aside id="sponsored">
							
						</aside>
					</div>
				</div>
			</div>
		</section>

		

		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Super Cultural</h1>
							<div class="block-body">
								<figure class="foot-logo">
									<img src="images/logo2.jpeg" class="img-responsive" alt="Logo">
								</figure>
								<p class="brand-description">
									Magz is a HTML5 &amp; CSS3 magazine template based on Bootstrap 3.
								</p>
								<a href="page.html" class="btn btn-magz white">About Us <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Popular Tags <div class="right"><a href="#">See All <i class="ion-ios-arrow-thin-right"></i></a></div></h1>
							<div class="block-body">
								<ul class="tags">
									<li><a href="#">HTML5</a></li>
									<i class="fa fa-whatsapp fa-5x"></i>
									<i class="fa fa-whatsapp fa_custom-3x"></i>
									<li><a href="#">CSS3</a></li>
									<li><a href="#">Bootstrap 3</a></li>
									<li><a href="#">Web Design</a></li>
									<li><a href="#">Creative Mind</a></li>
									<li><a href="#">Standing On The Train</a></li>
									<li><a href="#">at 6.00PM</a></li>
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="block">
							<h1 class="block-title">Newsletter</h1>
							<div class="block-body">
								<p>By subscribing you will receive new articles in your email.</p>
								<form class="newsletter">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="ion-ios-email-outline"></i>
										</div>
										<input type="email" class="form-control email" placeholder="Your mail">
									</div>
									<button class="btn btn-primary btn-block white">Subscribe</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Ultimos eventos</h1>
							<div class="block-body">
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="single.html">
												<img src="images/news/img12.jpg" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="single.html">Donec consequat lorem quis augue pharetra</a></h1>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="single.html">
												<img src="images/news/img14.jpg" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="single.html">eu dapibus risus aliquam etiam ut venenatis</a></h1>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="single.html">
												<img src="images/news/img15.jpg" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="single.html">Nulla facilisis odio quis gravida vestibulum </a></h1>
										</div>
									</div>
								</article>
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="single.html">
												<img src="images/news/img16.jpg" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="single.html">Proin venenatis pellentesque arcu vitae </a></h1>
										</div>
									</div>
								</article>
								<a href="#" class="btn btn-magz white btn-block">See All <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
						<div class="block">
							<h1 class="block-title">Follow Us</h1>
							<div class="block-body">
								<p>Follow us and stay in touch to get the latest news</p>
								<ul class="social trp">
									<li>
										<a href="#" class="facebook">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" class="twitter">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-twitter-outline"></i>
										</a>
									</li>
									<li>
										<a href="#" class="youtube">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-youtube-outline"></i>
										</a>
									</li>
									<li>
										<a href="#" class="googleplus">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-googleplus"></i>
										</a>
									</li>
									<li>
										<a href="#" class="instagram">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-instagram-outline"></i>
										</a>
									</li>
									<li>
										<a href="#" class="tumblr">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-tumblr"></i>
										</a>
									</li>
									<li>
										<a href="#" class="dribbble">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-dribbble"></i>
										</a>
									</li>
									<li>
										<a href="#" class="linkedin">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="#" class="skype">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-skype"></i>
										</a>
									</li>
									<li>
										<a href="#" class="rss">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-rss"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="block">
							<div class="block-body no-margin">
								<ul class="footer-nav-horizontal">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Partner</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="page.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							COPYRIGHT &copy; MAGZ 2017. ALL RIGHT RESERVED.
							<div>
								Made with <i class="ion-heart"></i> by <a href="http://kodinger.com">Kodinger</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<!-- JS -->
		<script src="{% static 'js/jquery.js'%}"></script>
		<script src="{% static 'js/jquery.migrate.js'%}"></script>
		<script src="{% static 'scripts/bootstrap/bootstrap.min.js'%}"></script>
		<script>var $target_end=$(".best-of-the-week");</script>
		<script src="{% static 'scripts/jquery-number/jquery.number.min.js'%}"></script>
		<script src="{% static 'scripts/owlcarousel/dist/owl.carousel.min.js'%}"></script>
		<script src="{% static 'scripts/magnific-popup/dist/jquery.magnific-popup.min.js'%}"></script>
		<script src="{% static 'scripts/easescroll/jquery.easeScroll.js'%}"></script>
		<script src="{% static 'scripts/sweetalert/dist/sweetalert.min.js'%}"></script>
		<script src="{% static 'scripts/toast/jquery.toast.min.js'%}"></script>
		<script src="{% static 'js/demo.js'%}"></script>
		<script src="{% static 'js/e-magz.js'%}"></script>
		<script src="{% static 'js/platform.js'%}"></script>
		
		

	</body>
</html>