{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Super Cultural , la pagina del espectaculo de rosario">
		<meta name="author" content="Kodinger">
		<link href="{% static 'images/supercultural.png' %}" rel="icon">
		<meta name="keyword" content="supercultural, super, cultural, espectaculos, rosario">
		<!-- Shareable -->
		<meta property="og:title" content="Super cultural" />
		<meta property="og:type" content="article" />
		<title>Super Cultural </title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'scripts/bootstrap/bootstrap.min.css'%}">
		<!-- IonIcons -->
		<link rel="stylesheet" href="{% static 'scripts/ionicons/css/ionicons.min.css'%}">
		<!-- Toast -->
		<link rel="stylesheet" href="{% static 'scripts/toast/jquery.toast.min.css'%}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- OwlCarousel -->
		<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.carousel.min.css'%}">
		<link rel="stylesheet" href="{% static 'scripts/owlcarousel/dist/assets/owl.theme.default.min.css'%}">
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="{% static 'scripts/magnific-popup/dist/magnific-popup.css'%}">
		<link rel="stylesheet" href="{% static 'scripts/sweetalert/dist/sweetalert.css'%}">
		<!-- Custom style -->
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
		<link rel="stylesheet" href="{% static 'css/skins/all.css'%}">
		<link rel="stylesheet" href="{% static 'css/demo.css'%}">
	</head>
	
	</a>
	<body class="skin-orange">
		<header class="primary">
			<div class="firstbar">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="brand">
								<a href="{%url 'index'%}">
									<img src="{% static 'images/logo2.jpeg'%}" alt="Magz Logo">
								</a>
							</div>						
						</div>
						<div class="col-md-6 col-sm-12">
							<form class="search" autocomplete="off" action="{% url 'buscar'%}" method="get"> {%csrf_token%} 
								
								<div class="form-group">
									<div class="form-group"></div>
									<div class="input-group">
										
										<input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="busque un espectaculo o teatros" arial-label="search">									
										<div class="input-group-btn">
											<button class="btn btn-primary" type="search"><i class="ion-search"></i></button>
										</div>
									</div>
								</div>
								<div class="help-block">
									<div>Popular:</div>
									<ul>
										{%for cat in categoria%}

										<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
										{%endfor%}
										<li><a href="{% url 'contact' %}">Contacto</a></li>
									</ul>
								</div>
							</form>								
						</div>
						<div class="col-md-3 col-sm-12 text-right">
							<ul class="nav-icons">
								<li><a href="register.html"><i class="ion-person-add"></i><div>Registrar</div></a></li>
								<li><a href="login.html"><i class="ion-person"></i><div>Login</div></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Start nav -->
			<nav class="menu">
				<div class="container">
					<div class="brand">
						<a href="#">
							<img src="{% static 'images/logo2.jpeg'%}" alt="Magz Logo">
						</a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
					</div>
					<div class="mobile-toggle">
						<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
					</div>
					<div id="menu-list">
						<ul class="nav-list">
							<li class="for-tablet nav-title"><a>Menu</a></li>
							<li class="for-tablet"><a href="login.html">Login</a></li>
							<li class="for-tablet"><a href="register.html">Registrarse</a></li>
							<li class=><a href="{%url 'contact'%}">Contactanos!<i class="ion-ios"></i></a>
							</li>
							<li class="dropdown magz-dropdown">
								<a href="category.html">Secciones <i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									
									<li class="dropdown magz-dropdown">
										<a href="#">Perfil usuario <i class="ion-ios-arrow-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Registro</a></li>
											<li><a href="forgot.html">Perdio su contraseña</a></li>
											<li><a href="reset.html">Reset Password</a></li>
										</ul>
									</li>
									
									<li><a href="{%url 'buscar'%}">Busqueda</a></li>
									<li><a href="{%url 'contact'%}">Contacto</a></li>
									
								</ul>
							</li>
							<li class="dropdown magz-dropdown"><a href="#">Categorias<i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'todo' %}">Todo</a></li>
									{%for cat in categoria%}

									<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
									{%endfor%}
									
									
								</ul>
							</li>
							<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#">Super Menu <i class="ion-ios-arrow-right"></i> <div class="badge">Hot</div></a>
								<div class="dropdown-menu megamenu">
									<div class="megamenu-inner">
										<div class="row">
											<div class="col-md-3">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">Mas populares</h2>
													</div>
												</div>
												{% for post in ult_post2 %}
												<ul class="vertical-menu">
													<li><a href="#"><i class="ion-ios-circle-outline"></i> {{post.title}}</a></li>
												</ul>
												{%endfor%}
											</div>
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-12">
														<h2 class="megamenu-title">Ultimos posts</h2>
													</div>
												</div>
												<div class="row">
													{% for post in page_obj %}
													<article class="article col-md-4 mini">
														<div class="inner">
															<figure>
																<a href="{% url 'blog_detail' post.pk %}">
																	<img src="{{ post.image.url }}"alt="Sample Article">
																</a>
															</figure>
															<div class="padding">
																<div class="detail">
																	<div class="time">{{ post.created_on | timesince }}</div>
																	{% for category_post in post.categories.all %}
                            									<div class="category"><a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a></div>
																{% endfor %}
																	
																</div>
																<h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
															</div>
														</div>
													</article>
													{% endfor %}
												</div>
											</div>
										</div>								
									</div>
								</div>
							</li>
							<li class="dropdown magz-dropdown"><a href="#">Extras<i class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon ion-person"></i> Coberturas</a></li>
									<li><a href="#"><i class="icon ion-person"></i> Galeria</a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Cines </a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Teatros </a></li>
									<li><a href="#"><i class="icon ion-heart"></i> Artistas locales </a></li>


									
								</ul>
							</li>
							
							<li><a href="{%url 'about'%}">Super Cultural Radio <i class="ion-ios"></i></a>
								
							</li>
							
							<li class=><a href="{%url 'contact'%}">Contactanos!<i class="ion-ios"></i></a>
							</li>
							<li class=><a href="#radio">94.1 En Vivo<i class="ion-ios"></i></a>
							</li>
						</ul>
								
						
					</div>
				</div>
			</nav>
			<!-- End nav -->
		</header>
        {% block contenidoQueCambia %}

        {% endblock %}
        

        <script src="{% static 'js/jquery.js'%}"></script>
		<script src="{% static 'js/jquery.migrate.js'%}"></script>
		<script src="{% static 'scripts/bootstrap/bootstrap.min.js'%}"></script>
		<script>var $target_end=$(".best-of-the-week");</script>
		<script src="{% static 'scripts/jquery-number/jquery.number.min.js'%}"></script>
		<script src="{% static 'scripts/owlcarousel/dist/owl.carousel.min.js'%}"></script>
		<script src="{% static 'scripts/magnific-popup/dist/jquery.magnific-popup.min.js'%}"></script>
		<script src="{% static 'scripts/easescroll/jquery.easeScroll.js'%}"></script>
		<script src="{% static 'scripts/sweetalert/dist/sweetalert.min.js'%}"></script>
		<script src="{% static 'scripts/toast/jquery.toast.min.js'%}"></script>
		<script src="{% static 'js/demo.js'%}"></script>
		<script src="{% static 'js/e-magz.js'%}"></script>
    </html>