{% extends "nav.html" %}

{% load static  %}

{% block contenidoQueCambia %}
{% load crispy_forms_tags %} 

		</header>

		<section class="search">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<aside>
							<h2 class="aside-title">{{resultados}} {{nombre}}</h2>
							
							<div class="aside-body">
								<p>Busca con otras palabras, cines, recitales, artistas, espectaculos.</p>
								
								
								<form class="search" autocomplete="on" action="{% url 'buscar'%}" method="get"> {%csrf_token%} 
							
									<div class="form-group">
										<div class="form-group"></div>
										<div class="input-group">
											
											<input type="text" name="q" value="{{ request.GET.q }}" class="form-control" placeholder="busque un espectaculo o teatros" arial-label="search">									
											<div class="input-group-btn">
												<button class="btn btn-primary" type="search"><i class="ion-search"></i></button>
											</div>
										</div>
									</div>
													
										
									
								</form>
							</div>
						
							
						
					</aside>
				
						
					</div>
					<div class="col-md-9">
						<div class="nav-tabs-group">
							<ul class="nav-tabs-list">
								<li class="active"><a href="#">Resultados</a></li>
								
							</ul>
							
						</div>
						<div class="search-result">
							{%if mensaje%}
							{{mensaje}}
							
							{%else%}
							{%if not posts%}
							<p>No Existen resultados para su busqueda</p>
							{%endif%}
							{%endif%}
							{%if cantidad%}
							<p></p> Resultados para la palabra clave : "{{nombre}}" encontrada en {{cantidad}} posts.</p>
							{%endif%}
						</div>
						<div class="row">
							{%for pro in posts%}
							<article class="col-md-12 article-list">
								<div class="inner">
									<figure>
										<a href="{% url 'blog_detail' pro.pk %}">
											<img src="{{pro.image.url}}">
										</a>
									</figure>
									<div class="details">
										<div class="detail">
											{% for category_post in pro.categories.all %}
												<div class="category"><a href="{% url 'blog_category' category_post.name %}">{{ category_post.name }}</a></div>
												{% endfor %}
											
											
										</div>
										<time>{{pro.created_on|timesince }}</time>
										<h1><a href="{% url 'blog_detail' pro.pk %}">{{pro.title}}</a></h1>
										<p>
										{{pro.short_desciption}}
										</p>
										<footer>
											<a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>{{pro.visit_num}}</div></a>
											<a class="btn btn-primary more" href="{% url 'blog_detail' pro.pk %}">
												<div>Mas info</div>
												<div><i class="ion-ios-arrow-thin-right"></i></div>
											</a>
										</footer>
									</div>
								</div>
							</article>
							{%endfor%}
		          <div class="col-md-12 text-center">
					
					
					{% if posts.has_other_pages %}
					<ul class="pagination">	
						{% if page_obj2.has_previous %}
                           <li><a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; </a></li>
						   
						   <li class="prev"><a href="?page={{ page_obj2.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="ion-ios-arrow-left"></i></a></li>
                           
                       {% endif %}

		              
		              
					  <li class="active"><a href="#"> {{ page_obj2.number }}</a></li>
		              {% if page_obj2.has_next %}
					     <li class="next"><a href="?page={{ page_obj2.next_page_number }}{% if nombre %}&q={{ nombre }}{% endif %}"><i class="ion-ios-arrow-right"></i></a></li>
                           
                           <li><a href="?page={{ page_obj2.paginator.num_pages}}{% if nombre %}&q={{ nombre }}{% endif %}">&raquo;</a></li>
                        {% endif %}
		              
		            </ul>
		            <div class="pagination-help-text">
		            	Mostrando {{actual}} resultados de {{total}} &mdash; Pagina {{ page_obj2.number }}
		            </div>
{% endif %}

		            
		            <div class="pagination-help-text">

		            </div>
		          </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Start footer -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Super Cultural</h1>
							<div class="block-body">
								<figure class="foot-logo">
									<img src="{% static 'images/logo2.jpeg'%}" class="img-responsive" alt="Logo">
								</figure>
								<p class="brand-description">
									Espectaculos y Eventos &amp; Toda la info sobre Rosario y zona.
								</p>
								<a href="{%url 'contact'%}" class="btn btn-magz white">Sobre nosotros <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Tags Populares<div class="right"><a href="{%url 'todo'%}">Ver todo <i class="ion-ios-arrow-thin-right"></i></a></div></h1>
							<div class="block-body">
								<ul class="tags">
									{%for cat in categoria%}

										<li><a href="{% url 'blog_category' cat.name %}">{{cat.name}}</a></li>
										{%endfor%}
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="block">
							<h1 class="block-title">Ultimos eventos</h1>
							<div class="block-body">
								

													{% for post in page_obj %}			
								<article class="article-mini">
									<div class="inner">
										<figure>
											<a href="{% url 'detail' post.slug %}">
												<img src="{{ post.image.url }}" alt="Sample Article">
											</a>
										</figure>
										<div class="padding">
											<h1><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h1>
										</div>
									</div>
								</article>
								{%endfor%}
								<a href="{%url 'todo'%}" class="btn btn-magz white btn-block">Ver todo <i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-12 col-sm-6">
						<div class="block">
							<h1 class="block-title">Seguinos</h1>
							<div class="block-body">
								<p>Seguinos en nustras redes y m</p>
								<ul class="social trp">
									<li>
										<a href="https://www.facebook.com/supercultural2022/" class="facebook" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-facebook"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="youtube">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-youtube-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="https://www.instagram.com/super.cultural/" class="instagram" target="_blank">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-instagram-outline"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="linkedin">
											<svg><rect width="0" height="0"/></svg>
											<i class="ion-social-linkedin"></i>
										</a>
									</li>
									
									
								</ul>
							</div>
						</div>
						<div class="line"></div>
						<div class="block">
							<div class="block-body no-margin">
								<ul class="footer-nav-horizontal">
									<li><a href="index.html">Home</a></li>
									<li><a href="#">Partner</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="page.html">About</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="copyright">
							COPYRIGHT &copy;Todo los Derechos Reservados
							<div>
								Diseñado  <i class="ion-heart"></i> por <a href="https:www.linkedin.com/in/fabian-di-paolo" target="_blank">DiPA Dev</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<!-- JS -->
		<script src="js/jquery.js"></script>
		<script src="js/jquery.migrate.js"></script>
		<script src="scripts/bootstrap/bootstrap.min.js"></script>
		<script>var $target_end=$(".best-of-the-week");</script>
		<script src="scripts/jquery-number/jquery.number.min.js"></script>
		<script src="scripts/owlcarousel/dist/owl.carousel.min.js"></script>
		<script src="scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<script src="scripts/easescroll/jquery.easeScroll.js"></script>
		<script src="scripts/sweetalert/dist/sweetalert.min.js"></script>
		<script src="scripts/icheck/icheck.min.js"></script>
		<script src="scripts/toast/jquery.toast.min.js"></script>
		<script src="js/demo.js"></script>
		<script>$("input").iCheck({
      checkboxClass: 'icheckbox_square-red',
      radioClass: 'iradio_square-red',
      cursor: true
		});</script>
		<script src="js/e-magz.js"></script>
	</body>
{%endblock%}