{% autoescape off %}
  SUPER CULTURAL
  te estamos enviando este mail para recuperar tu usuario de {{ user.email }} 

Hace click en el siguiente link para ir a la pagina de restauracion de contraseña:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  Si clikeando no funciona el link, por favor copia y pega el contenido en el navegador.
  Tu Usuario por si no lo recuerdas es {{ user.username }}
  Muchas gracias
  El equipo de Super Cultural
{% endautoescape %}