{% extends "nav.html" %}

{% load static  %}

{% block contenidoQueCambia %}


  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'gallery/fonts/icomoon/style.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{%static 'gallery/css/magnific-popup.css'%}">
  <link rel="stylesheet" href="{%static 'gallery/css/jquery-ui.css'%}">
  <link rel="stylesheet" href="{%static 'gallery/css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{%static 'gallery/css/owl.theme.default.min.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/css/lightgallery.min.css'%}">    

  <link rel="stylesheet" href="{%static 'gallery/css/bootstrap-datepicker.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/fonts/flaticon/font/flaticon.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/css/swiper.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/css/aos.css'%}">

  <link rel="stylesheet" href="{%static 'gallery/css/style.css'%}">

</head>
<body>

  <div class="site-wrap">

    
    


<br><br><br><br><br><br><br>
<br><br><br><br><br><br>
    

          

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>



    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Galleria de imagenes</h2>
              </div>
            </div>
          </div>

        </div>
        <div class="row" id="lightgallery">
          {%for fotos in galeria%}
														
													
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="{{fotos.imagen.url}}" data-sub-html="<h4>Fading Light</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque hic excepturi fugit, sunt impedit fuga tempora, ad amet aliquid?</p>">
            <a href="#"><img src="{{fotos.imagen.url}}" alt="IMage" class="img-fluid"></a>
            <h4>{{fotos.info}} </h4>
          </div>

          {%endfor%}
        </div>
      </div>
    </div>

    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
         
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="{%static 'gallery/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery-ui.js'%}"></script>
  <script src="{%static 'gallery/js/popper.min.js'%}"></script>
  <script src="{%static 'gallery/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'gallery/js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery.stellar.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery.countdown.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{%static 'gallery/js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{%static 'gallery/js/swiper.min.js'%}"></script>
  <script src="{%static 'gallery/js/aos.js'%}"></script>

  <script src="{%static 'gallery/js/picturefill.min.js'%}"></script>
  <script src="{%static 'gallery/js/lightgallery-all.min.js'%}"></script>
  <script src="{%static 'gallery/js/jquery.mousewheel.min.js'%}"></script>

  <script src="{%static 'gallery/js/main.js'%}"></script>
  
  <script> $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>
{%endblock%}